:root {
  --theme-primary: #0A5640;
  --theme-secondary: #FFC72A;
  --theme-background: #FFFFFF;
  --theme-text: #222222;
  --theme-correct: var(--theme-primary);
  --theme-incorrect: #660000;
  --question-margins: 1.5rem;

  background-color: var(--theme-primary);
  color: var(--theme-secondary);

  font-family:Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

section {
  display: none;
  position: relative;
  margin: 0 auto;
  
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;

  width: 100%;
  max-width: 40em;
  height: 100vh;
  
  font-size: 2rem;
}
@media screen and (orientation: portrait) {
  section {
    max-width: 100%;
  }
}

section.active {
  display: flex;
}


.loading {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  width: 25vw;
  height: 25vw;
  color: transparent;
  background-image: radial-gradient(transparent 27.5%, var(--theme-secondary) 30%, var(--theme-secondary) 47.5%, transparent 50%) ;
  mask-image: conic-gradient(transparent, black 97.5%, transparent);
  animation: spin 3s linear infinite;
  background-position: center center;
  background-size: 90% 90%;
}

.main-actions {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 50%;
  justify-content: space-between;
  text-align: center;
}

.main-actions a,
.main-actions button,
.final-actions a,
.final-actions button,
.quiz-main-continue,
.quiz-identify-submit {
  background: var(--theme-secondary);
  color: var(--theme-primary);
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.75em 0;
  width: 80%;
  margin: 0 auto;
  border-radius: 1em;
}

.language-selection-wrapper {
  display: flex;
  flex-direction: column;
  width: 20ch;
  margin: 0 auto;
  font-size: 2.5rem;
}
#language-select {
  font-size: 2rem;
  padding: 0.25em 1em;
  margin-top: 0.5em;
}

.frontpage_image {
  height: 25vh;
  width: auto;
  margin: 0 auto;
  border-radius: 1em;
}

.welcome_wrapper {
  position: absolute;
  top: var(--question-margins);
  bottom: var(--question-margins);
  left: var(--question-margins);
  right: var(--question-margins);
  background: var(--theme-background);
  color: var(--theme-text);
  padding: 1.5em;
  border: 0.25em solid var(--theme-secondary);
  border-radius: 1em;
  display: grid;
  grid-template-rows: 7.5em 1fr 4em;
}

.welcome-body {
  font-size: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.welcome-dismiss {
  background: var(--theme-secondary);
  color: var(--theme-primary);
  font-size: 3rem;
  font-weight: bold;
  border: none;
  border-radius: 1em;
}

img {
  max-width: 100%;
  aspect-ratio: 3/4;
}

#quiz_content {
  position: relative;
}

.question {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  top: var(--question-margins);
  bottom: var(--question-margins);
  left: var(--question-margins);
  right: var(--question-margins);
  color: var(--theme-text);
  background-color: var(--theme-background);
  border: 0.25em solid var(--theme-secondary);
  border-radius: 1.5em;
  overflow-y: auto;
  z-index: 1;
}

.question:not(.active) {
  display: none;
}

#question_seasonal.active,
.answers_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding: 1.5em;
}
#question_seasonal h3 {
  grid-column: 1 / span 2;
}

.question.main .answers_wrapper {
  font-size: 2.5rem;
  grid-template-rows: 3.5em 3.5em;
  grid-gap: 0.5em
}

.question.main .answer {
  padding: 0.35em 0.25em;
  border-width: 0.2em;
}

.question_img {
  max-width: 90%;
  margin: 0 auto;
}

.question_heading {
  font-size: 4rem;
}

.question_toggle {
  position: absolute;
  width: 8em;
  height: 16em;
  
  top: 0;
  left: 0;
  
  transform: translateX(-50%) translateY(-50%);
  border: 0;
  background-image: radial-gradient(circle at center 3em, #e0ffe030 1.9em, var(--theme-secondary) 1em 4em, #881010 4em 8em);
  background-image: linear-gradient(#ccc);
  mask-image: url('/tree-quiz/src/icons/MGlass_Lens.png'), url('/tree-quiz/src/icons/MGlass_Ding.png'), url('/tree-quiz/src/icons/MGlass_Handle.png');
  mask-size: 6.5em 6.5em, 2.5em 2.5em, 2.7em 4em;
  mask-repeat: no-repeat;
  mask-position: 0em top, 2.1em 2em, 5.2em 6.7em;
  background-blend-mode: normal;
  filter: drop-shadow(0 0 0.1em black);
}

.question_toggle.correct,
#quiz_main:has(.seasonal_list .correct) .question_toggle[data-question-id="seasonal"] {
   background-image: radial-gradient(circle at center 3em, #e0ffe030 1.9em, #49ff66 1em 4em, #881010 4em 8em);
}
.question_toggle.incorrect,
#quiz_main:has(.seasonal_list .incorrect) .question_toggle[data-question-id="seasonal"] {
  background-image: radial-gradient(circle at center 3em, #e0ffe030 1.9em, var(--theme-secondary) 1em 4em, #881010 4em 8em);
}

.question_toggle[data-question-id="seasonal"] {
  top: 55%;
  left: 20%;
}
.question_toggle[data-question-id="0"] {
  left:34%;
  top: 34%;
}
.question_toggle[data-question-id="1"] {
  left: 65%;
  top: 44%;
}
.question_toggle[data-question-id="2"] {
  left: 48%;
  top: 78%;
}

.answer {
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 1em;
  border: 0.5em solid var(--theme-secondary);
  background: var(--theme-background);
  padding: 0;
  margin: 0;
}
.answer.correct-selected,
.seasonal_list .answer.correct {
  border-color: var(--theme-correct);
  color: var(--theme-correct);
}
.answer.correct-selected::before {
  content: '✓';
  border-color: var(--theme-correct);
  background-color: var(--theme-correct);
  color: var(--theme-background);
  
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.answer.incorrect-selected,
.seasonal_list .answer.incorrect {
  border-color: var(--theme-incorrect);
  color: var(--theme-incorrect);
}
.answer.incorrect-selected::before {
  content: '✖';
  border-color: var(--theme-incorrect);
  background-color: var(--theme-incorrect);
  color: var(--theme-background);
  
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.locked .answer.correct:not(.correct-selected) {
  background-color: var(--theme-secondary);
  border-color: var(--theme-primary);
  color: var(--theme-background);
  text-shadow: 0px 0px 5px var(--theme-text);
}
.locked .answer.correct:not(.correct-selected)::before {
  content: '→';
  border: 0.15em solid var(--theme-primary);
  background-color: var(--theme-secondary);
  color: var(--theme-background);
  
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.quiz-footer {
  display: flex;
  justify-content: center;
}

.identify_image {
  opacity: 0.8;
}

.identify-wrapper {
  text-align: center;
}
.identify-footer,
#progress_tracker p {
  display: flex;
  justify-content: center;
}
#quiz_identify_input {
  position: relative;
  top: -5em;
  font-size: 4rem;
  width: 90%;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
}

.synonym-list {
  width: 80%;
  margin: 0.25em auto;
}

.tree_type_name {
  padding-left: 1ch;
}

.final-actions {
  display: grid;
  grid-gap: 1em;
  text-align: center;
}

@keyframes spin {
  50% { background-size: 105% 105%; }
  100% { transform: translateX(-50%) translateY(-50%) rotate(1turn); }
}